<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <h1><%= title %></h1>
        <ul>
            <% messages.forEach((message) => { %>
                <li>
                    <%= message.username %> sent "<%= message.text %>" at <%= message.added %>
                    <a href="/message/<%= message.id %>">
                        <button type="button">Open</button>
                    </a>
                </li>
            <% }); %>
        </ul>
    </body>
</html>